.option-div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    margin: 20px;
  }
  
  .option-div button {
    width: 30vw;
    height: 8vh;
  }
  
  .option-div button.correct {
    background-color: #4caf50; /* Green */
  }
  
  .option-div button.wrong {
    background-color: #f44336; /* Red */
  }